# http://editorconfig.org

# top-most EditorConfig file
root = true

# for all files in the project
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
